.container{
    max-width: 1920px;

    .box{
        width: 100%;
        height: 82px;
        background-color: blue;
        display: flex;
        flex-direction: row;
        gap: 280px;

        .box7{
            width: 25%;
            height: 32%;
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            
            .p{
                font-size: 20px;
                color: black;
            }
            .p1{
                color: white;
                font-size: 20px;
            }
            .p2{
                color: white;
                font-size: 20px;
            }
            .p3{
                color: white;
                font-size: 20px;
            }
        }
        
        .box8{
            width: 4%;
            height: 69%;
            margin-top: 15px;

            .p4{
                font-size: 45px;
                color: white;
                margin-top: -10px;
            }
        }
        .box9{
            width: 27%;
            height: 69px;
            margin-top: 7px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            

            .img{
                width: 25px;
                position: absolute;
                margin-right: 10px;
                margin-top: 5px;
            }
            .extra{
                width: 80%;
                height: 40px;
                margin-top: 0px;
                margin-right: 4px;
                background-color: blue;
                border-bottom: 3px solid white;
                border-top: 3px solid blue;
                border-right: 3px solid blue;
                border-left: 3px solid blue;
                animation: extend;
                animation-duration: 1s;
                animation-delay: 0s;
                animation-iteration-count: 1;

                @keyframes extend{
                    0%{
                        width: 0%;
                    }
                    100%{
                        width: 100%;
                    }
                }
            }


        }
    }
    .box1{
        width: 100%;
        height: 775px;
        background-image: url(./img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        gap: 140px;
        align-items: center;

        .box11{
            width: 3%;
            height: 7%;
            margin-left: 196px;
            margin-top: 673px;
            display: flex;
            flex-direction: column;
            

            .p20{
                font-size: 16px;
                color: white;
            }
            .path{
                width: 24px;
                height: 22px;
                margin-top: -17px;
            }
        }
        .box12{
            height: 58%;
            width: 20%;
            background-color: white;
            display: flex;
            align-items: center;

            .box14{
                width: 67%; 
                height: 64%;
                margin-left: 18%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .p23{
                    font-size: 20px;
                    font-weight: bold;
                }
                .box15{
                    width: 100%;
                    height: 13%;
                    display: flex;
                    flex-direction: column;

                    .p25{
                        font-size: 14px;
                    }

                    .inputt{
                        width: 100%;
                        height: 92%;
                        margin-top: -17px;
                        border: 1px solid gray;
                        border-radius: 4px;
                    }
                    .errorName{
                        color: red;
                        font-size: 7px;
                        display: none;
                    }
                }
                .box16{
                    width: 100%;
                    height: 13%;
                    display: flex;
                    flex-direction: column;  
                    
                    
                    .p26{
                        font-size: 14px;
                    }

                    .inputt1{
                        width: 100%;
                        height: 92%;
                        margin-top: -17px;
                        border: 1px solid gray;
                        border-radius: 4px;
                    }
                    .errorLastName{
                        color: red;
                        font-size: 7px;
                        display: none;
                    }
                }
                .box17{
                    width: 100%;
                    height: 11%;
                    border: 3px solid gray;
                    background-color: gray; 
                    text-align: center;

                    .next{
                        color: white;
                        font-size: 14px;
                    }
                }
                .p24{
                    font-size: 12px;
                }
            }
        }
        .box13{
            width: 19%;
            height: 21%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .p21{
                font-size: 24px;
                font-weight: bold;
            }
            .p22{
                font-size: 20px;
            }
        }
        .sucess{
            width: 25%;
            height: 20%;
            background-color: aqua;
            border-radius: 20px;
            display: none;
            margin-left: 0%;
            text-align: center;
            position: relative;


            .p23{
                font-size: 20px;
                color: black;
                font-weight: bold;
                margin-left: -50px;
                margin-top: 60px;
            
            }
            .goBack{
                width: 50px;
                height: 20px;
                background-color: black;
                position: absolute;
                margin-left: 60px;
                margin-top: 20px;

                .goback-p{
                    font-size: 10px;
                    color: white;
                    margin-left: -5px;
                }
            }
        }

    }
    .box2{
        width: 100%;
        height: 1048px;
        background-color: orange;
        opacity: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 83px;

        .theFirstDivInsideOfTheOrangeBox{
            width: 35%;
            height: 46%;
            margin-left: 313px;
            display: flex;
            flex-direction: column;
            gap: 42px;

            .diiiv{
                width: 100%;
                height: 27%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 43px;
                overflow: hidden;
                .meetOurWork{
                    font-size: 54px;
                    font-weight: bold;
                    margin-top: -20px;
                }
                .p30{
                    font-size: 12px;
                }
            }
            .diiiv1{
                width: 100%;
                height: 27%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                .div50{
                    width: 49%;
                    height: 102%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;


                    .div60{
                        width: 47%;
                        height: 80%;
                        border-radius: 50%;
                        background-image: url(./img6.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .div62{
                        height: 100%;
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                        margin-left: 0px;
                        margin-top: 0px;

                        .p100{
                            font-size: 13px;
                            font-weight: bold;
                            margin-left: 0px;
                        }
                        .p101{
                            font-size: 10px;
                        }
                        .div64{
                            width: 54%;
                            height: 15%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            .icons{
                                width: 11px;
                                height: 20px;
                            }

                        }
                    }
                    
                }
                .div51{
                    width: 49%;
                    height: 102%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .div60{
                        width: 47%;
                        height: 80%;
                        border-radius: 50%;
                        background-image: url(./img7.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat; 
                    }
                    .div63{
                        height: 100%;
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;


                        .p100{
                            font-size: 13px;
                            font-weight: bold;
                            margin-left: 0px;
                        }
                        .p101{
                            font-size: 10px;
                        }
                        .div64{
                            width: 54%;
                            height: 15%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            .icons{
                                width: 11px;
                                height: 20px;
                            }

                        }
                    }
                }
            }
            .diiiv2{
                width: 100%;
                height: 27%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                .div52{
                    width: 49%;
                    height: 102%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .div60{
                        width: 47%;
                        height: 80%;
                        border-radius: 50%;
                        background-image: url(./img10.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .div62{
                        height: 100%;
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;

                        .p100{
                            font-size: 13px;
                            font-weight: bold;
                            margin-left: 0px;
                        }
                        .p101{
                            font-size: 10px;
                        }
                        .div64{
                            width: 54%;
                            height: 15%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            .icons{
                                width: 11px;
                                height: 20px;
                            }

                        }
                    }
                }
                .div53{
                    width: 49%;
                    height: 102%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    .div60{
                        width: 47%;
                        height: 80%;
                        border-radius: 50%;
                        background-image: url(./Oval.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .div62{
                        height: 100%;
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;

                        .p100{
                            font-size: 13px;
                            font-weight: bold;
                            margin-left: 0px;
                        }
                        .p101{
                            font-size: 10px;
                        }
                        .div64{
                            width: 54%;
                            height: 15%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            
                            .icons{
                                width: 11px;
                                height: 20px;
                            }

                        }
                    }
                }
            }
        }
        .theImageInsideOfTheOrangeBox{
            height: 61%;
            width: 26%;
            background-image: url(./image5.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
    }
    .box3{
        width: 100%;
        height: 1048px;
        background-image: url(./img2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box4{
        width: 100%;
        height: 1387px;
        background-image: url(./img3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box5{
        width: 100%;
        height: 1048px;
        border: 3px solid black
    }
    .box6{
        width: 100%;
        height: 300px;
        background-color: black;
    }
}
